$c_main: #fff;
$c_main_font: #222;

$c_accent_1: #FDFF1D;
$_accent_1_font: #111;

$c_accent_2: #E88E0C;
$_caccent_2_font: #111;

$c_accent_3: #FF0000;
$_caccent_3_font: #fff;

$c_accent_4: #6B0CE8;
$_caccent_4_font: #fff;

$c_accent_5: #0DABFF;
$_caccent_5_font: #fff;

$c_code: #282C34;
$c_code_font: #999;

$c_color: #5563B2;
$c_color_f: #fff;
$c_accent: #69B530;
$c_accent_f: #fff;
$c_white: #FFFFFF;
$c_white_f: #000;
$c_gray: #B8BBCC;
$c_gray_f: #000;
