$c_main: #fff;
$c_main_font: #222;

$c_accent_1: #FDFF1D;
$_accent_1_font: #111;

$c_accent_2: #E88E0C;
$_caccent_2_font: #111;

$c_accent_3: #FF0000;
$_caccent_3_font: #fff;

$c_accent_4: #6B0CE8;
$_caccent_4_font: #fff;

$c_accent_5: #0DABFF;
$_caccent_5_font: #fff;

$c_code: #282C34;
$c_code_font: #999;