.icon, .mdi {
    // color: $c_font;
}
.mdi-2x {
    font-size: 2rem;
}
.mdi-3x {
    font-size: 3rem;
}
.mdi-4x {
    font-size: 4rem;
}
.mdi-6x {
    font-size: 6rem;
}
.mdi-8x {
    font-size: 8rem;
}
.mdi-10x {
    font-size: 10rem;
}


[class^="icon-"] {
    font-family: 'Material Design Icons', fantasy;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}