<nav class="sidenav">
  <div class="button-container center">
    <a class="button" mat-raised-button>Neuer Auftrag</a>
  </div>
  <mat-accordion multi="true">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aktive Aufträge
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-435</span>
            KTS-Schrauben
          </h3>
          <p matLine class="customer maxlength">SMS Maschinenbau GmbH</p>
          <div class="iconbar">
            <mat-icon>move_to_inbox</mat-icon>
            <mat-icon>build</mat-icon>
            <mat-icon>attach_money</mat-icon>
            <mat-icon>done_all</mat-icon>
          </div>
        </a>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-164</span>
            Stahl-Bolzen
          </h3>
          <p matLine class="customer maxlength">Gerd Müller</p>
          <div class="iconbar">
            <mat-icon>move_to_inbox</mat-icon>
            <mat-icon>build</mat-icon>
          </div>
        </a>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Fräs-Teile
          </h3>
          <p matLine class="customer maxlength">IFK Baustahl</p>
          <div class="iconbar">
            <mat-icon>move_to_inbox</mat-icon>
            <mat-icon>build</mat-icon>
            <mat-icon>attach_money</mat-icon>
          </div>
        </a>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Auftrag mit viel zu langem Namen für das Feld
          </h3>
          <p matLine class="customer maxlength">Die Firma mit nem super langen Namen</p>
          <div class="iconbar">
            <mat-icon>move_to_inbox</mat-icon>
            <mat-icon>build</mat-icon>
            <mat-icon>attach_money</mat-icon>
            <mat-icon>done_all</mat-icon>
          </div>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ideen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Fräs-Teile
          </h3>
          <p matLine class="customer maxlength">IFK Baustahl</p>
        </a>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Fräs-Teile
          </h3>
          <p matLine class="customer maxlength">IFK Baustahl</p>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Abgeschlossene Aufträge
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Fräs-Teile
          </h3>
          <p matLine class="customer maxlength">IFK Baustahl</p>
        </a>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Fräs-Teile
          </h3>
          <p matLine class="customer maxlength">IFK Baustahl</p>
        </a>
        <a mat-list-item href="">
          <h3 matLine class="nvlst-topline maxlength">
            <span class="number">NG-354</span>
            Fräs-Teile
          </h3>
          <p matLine class="customer maxlength">IFK Baustahl</p>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</nav>
