<nav class="sidenav">
  <ul>
    <li><h3>Aktive Aufträge</h3>
      <ul class="sublist">
        <li>
          <a>
            <div class="number">NG-723</div><div class="name maxlength">KTS-Schrauben</div><div class="customer maxlength">IFK Baustahl</div>
          </a>
        </li>
        <li>
          <a>
            <div class="number">NG-724</div><div class="name maxlength">Stahl-Bolzen</div><div class="customer maxlength">Gerd Müller</div>
          </a>
        </li>
        <li>
          <a>
            <div class="number">NG-725</div><div class="name maxlength">Fräs-Teile</div><div class="customer maxlength">IFK Baustahl</div>
          </a>
        </li>
        <li>
          <a>
            <div class="number">NG-726</div><div class="name maxlength">Auftrag mit viel zu langem Namen für das Feld</div><div class="customer maxlength">Die Firma mit nem super langen Namen</div>
          </a>
        </li>
      </ul>
    </li>
    <li><h3>Ideen</h3>
      <ul class="sublist">
        <li></li>
      </ul>
    </li>
    <li><h3>Abgeschlossene Aufträge</h3>
      <ul class="sublist">
        <li></li>
      </ul>
    </li>
  </ul>
</nav>