@import '../../scss/2_defs/_vars.scss';
.sidenav {
  height: 100%;
  background: $c_gray;
  color: $c_gray_f;

  .maxlength {
    max-width: 15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .number {
    font-weight: 600;
  }

  .customer {
    font-size: 0.8rem;
    padding: 0.1rem;
    color: lighten($c_gray_f, 40);
  }

  & > h3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1rem 0.2rem;
  }

  mat-accordion {
    mat-expansion-panel {
      box-shadow: none;
      color: $c_gray_f;
      background: inherit;
    }
  }
}



