.sidenav{
    height: 100%;
    background: #666;
    color: #fff;
    padding: 1rem;
    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        & > li {
            padding: 0 0 0.5rem;
            margin: 0;
        }
    }
}
.sublist {
    list-style: none;
    padding: 0.5rem 0 1rem 0.5rem;

    li {
        padding: 0;
    }
    a {
        color: #fff;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start
    }

    .maxlength {
        max-width: 8.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .number{
        padding-right: 0.7rem;
        font-weight: 600;
    }

    .name {
        padding-right: 0.6rem;
    }

    .customer {
        font-size: 0.8rem;
        padding: 0.1rem;
        color: #ccc;
        max-width: 5rem;
    }
}